@media (max-width: 768px) {
    .card {
        width: 22rem;
    }
}

.card {
    width: 18rem;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.card:hover {
    border-color: rgba(2, 117, 216, 0.7);
}

.card:focus {
    -webkit-box-shadow: 0 0 0 1px rgba(2, 117, 216, 0.5);
    box-shadow: 0 0 0 1px rgba(2, 117, 216, 0.5);
}

.card-title:hover {
    text-decoration: underline;
}

.div-card-img {
    overflow: hidden;
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: contain;
    vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.price {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    margin-bottom: 0px;
    border: 1px solid #0275d8;
    color: #0275d8;
}

.check {
    background-color: #46A1F0;
    border-color: #46A1F0;
}

.disabled {
    cursor: default;
}