.container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 768px) {
  .container {
    height: 80vh;
  }
}

@media (max-width: 768px) {
  .categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.lead {
  font-size: 1rem;
}


.btn-outline-success {
  color: #0275d8;
  border-color: #0275d8;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #0275d8;
  background-color: transparent;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-outline-success:active, .btn-outline-success.active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}
.display-5 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.line-height {
  line-height: 3rem;
}

.categories a {
  cursor: pointer;
}

.categories a:hover {
  background-color: #f7f7f7;
}

.dropdown-menu {
  width: 100%;

}

.dropdown-item {
  display: flex;
  justify-content: center;
}